<%= layout("layouts/boilarplate") %>
<body>
  <h3>Edit your item</h3>

  <div class="row">
    <div class="col-8 offset-2">
      <form
        method="post"
        action="/listings/<%=id %>?_method=PATCH"
        novalidate
        class="needs-validation"
      >
        <div>
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            name="listing[title]"
            value="<%=list.title %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please choose a title</div>
        </div>
        <br />
        <div>
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" name="listing[description]" required>
 <%=list.description %></textarea
          >
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please choose a Short Description</div>
        </div>
        <br />

        <div>
          <label for="image" class="form-label">Image</label>
          <input
            type="text"
            class="form-control"
            name="listing[image]"
            value="<%=list.image %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please give a URL/Link</div>
        </div>
        <br />

        <div class="row">
          <div class="col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              name="listing[price]"
              value="<%=list.price %>"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please give a Price.</div>
          </div>

          <div class="col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              value="<%=list.country %>"
              placeholder=""
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please choose a Country</div>
          </div>
        </div>
        <br />
        <div>
          <label for="location" class="form-label">location</label>
          <input
            type="text"
            name="listing[location]"
            value="<%=list.location %>"
            placeholder=""
            class="form-control"
            required
          />
        </div>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a Location</div>

        <br />

        <button type="submit" class="btn btn-outline-danger">Change</button>
        <br />
        <br />
      </form>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</body>
