<%= layout("/layouts/boilerplate") %>
<style>
  .filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .filter p {
    font-size: 0.8rem;
  }
  .tax-info {
    display: none;
    margin-left: 8px;
  }
  .tax-toggle {
    border: 1px solid black;
    border-radius: 15px;
    padding: 8px;
    margin-top: -20px;
    margin-left: 30px;
  }
</style>
<div class="filters">
  <div class="filter">
    <div>
      <i class="fa-solid fa-fire"></i>
    </div>
    <p>Tranding</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-bed"></i>
    </div>
    <p>Room</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-mountain-city"></i>
    </div>
    <p>Iconic cities</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-mountain"></i>
    </div>
    <p>Mountains</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-chess-rook"></i>
    </div>
    <p>Castles</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-person-swimming"></i>
    </div>
    <p>Pools</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-hotel"></i>
    </div>
    <p>Hotels</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-tractor"></i>
    </div>
    <p>Farms</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-campground"></i>
    </div>
    <p>Camping</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-parachute-box"></i>
    </div>
    <p>Fly</p>
  </div>
  <div class="filter">
    <div>
      <i class="fa-solid fa-sailboat"></i>
    </div>
    <p>Boats</p>
  </div>
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="switchCheckDefault"
      />
      <label class="form-check-label" for="switchCheckDefault"
        >Display total after taxes</label
      >
    </div>
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let list of allLists) { %>

  <a class="listing-list" href="/listings/<%= list._id %> ">
    <div class="card" id="listing-card">
      <div style="height: 20rem; width: 100%">
        <img
          src="<%=list.image.url %>"
          class="card-img-top"
          alt="Listing-img"
          style="height: 18rem; width: 100%; border-radius: 5px"
        />
      </div>
      <div class="card-body">
        <h5 class="card-text"><%=list.title %></h5>
        <div style="display: flex">
          <h5>$<%= list.price %> /Night</h5>
          <i class="tax-info"> +20% GST</i>
        </div>
      </div>
    </div>
  </a>

  <% } %>
</div>

<script>
  let taxSwitch = document.getElementById("switchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
